.red {
    color: red;
}

.blue {
    background-color: #4779f6 ;
}

.border {
    text-decoration: none;
}

.green {
    color: green;
}

.bg-white {
    background-color: white;
}

.button1 {
    padding-top: 10px;
    padding-left: 25
}
